@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #0c0c0c;
  font-family: Arial, Helvetica, 'Source Sans Pro', sans-serif;
}

.navShow {
  pointer-events: all;
  font-size: 1rem;
  -webkit-transition: height .4s linear;
  transition: height .4s linear;
  pointer-events: all;
  opacity: 1;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  -webkit-transition: height 700ms linear;
  transition: height 700ms linear;
  height: 40px;
}

.navTop {
  top: 0;
}

.navScroll {
  top: -4rem;
}

.navHeight {
  height: 100vh;
}

.ulShow {
  height: auto;
  opacity: 1;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
  padding-top: 5rem;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.navShow {
  pointer-events: all;
  font-size: 1rem;
  -webkit-transition: height .4s linear;
  transition: height .4s linear;
  pointer-events: all;
  opacity: 1;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  -webkit-transition: height 700ms linear;
  transition: height 700ms linear;
  height: 40px;
}

.navHeight {
  height: 100vh;
}

.ulShow {
  height: auto;
  opacity: 1;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
  padding-top: 5rem;
}

nav {
  opacity: 1;
  height: 40px;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  background: #0c0c0c;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  -webkit-transition: height .4s linear;
  transition: height .4s linear;
}

@media (min-width: 900px) {
  nav {
    height: 4rem;
  }
}

nav .logo {
  width: 30px;
  height: 30px;
  margin-left: 5%;
  color: #f4f4f4;
  font-weight: bold;
  padding-top: 5px;
  font-size: 1.7rem;
  vertical-align: center;
}

@media (min-width: 900px) {
  nav .logo {
    width: 50px;
    height: 50px;
    padding-top: 20px;
    font-size: 2rem;
  }
}

nav .logo a {
  text-decoration: none;
  color: #f4f4f4;
}

nav .ham {
  display: inline-block;
  margin-right: 5%;
  margin-top: 8px;
  width: 30px;
  height: 30px;
}

@media (min-width: 900px) {
  nav .ham {
    display: none;
  }
}

nav .mIcon,
nav .mIcon:after,
nav .mIcon:before {
  height: 4px;
  width: 100%;
  border-radius: 1px;
}

nav .mIcon {
  position: relative;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  background: #f4f4f4;
  -webkit-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
}

nav .mIcon.animate {
  background: rgba(255, 255, 255, 0);
}

nav .mIcon:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  background: #f4f4f4;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

nav .mIcon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  background: #f4f4f4;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

nav .mIcon.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #ef2e5d;
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

nav .mIcon.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #ef2e5d;
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

nav ul {
  list-style-type: none;
  color: white;
  display: inline-block;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  opacity: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}

@media (min-width: 900px) {
  nav ul {
    display: inline-block;
    height: auto;
    opacity: 1;
    margin-right: 5%;
  }
}

nav li {
  display: block;
  position: relative;
  overflow-x: hidden;
  font-size: 1.3rem;
  color: #ef2e5d;
}

@media (min-width: 900px) {
  nav li {
    display: inline-block;
    padding-bottom: 0;
    margin-left: 3rem;
    font-size: 1.3rem;
  }
}

nav li a {
  display: inline-block;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #f4f4f4;
  -webkit-transition: color ease-in-out 400ms;
  transition: color ease-in-out 400ms;
  position: relative;
  height: 100%;
  white-space: nowrap;
  background-color: transparent;
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

nav li a:hover:after {
  width: 100%;
}

nav li a:after {
  content: attr(data-hover);
  display: block;
  position: absolute;
  color: turquoise;
  top: 20px;
  left: 20px;
  overflow: hidden;
  width: 0;
  height: 23px;
  white-space: nowrap;
  -webkit-transition: all 0.5s cubic-bezier(0.66, 0.19, 0.19, 1);
  transition: all 0.5s cubic-bezier(0.66, 0.19, 0.19, 1);
}

nav li a:hover:before {
  opacity: 1;
  width: calc(100% - 40px);
}

nav li a:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 20px;
  bottom: 13px;
  width: 0;
  height: 2px;
  opacity: 0;
  background-color: turquoise;
  -webkit-transition: all 0.6s cubic-bezier(0.66, 0.19, 0.19, 1);
  transition: all 0.6s cubic-bezier(0.66, 0.19, 0.19, 1);
}

.navTop {
  top: 0;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}

.navScroll {
  top: -4rem;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}

nav.expand {
  height: 100vh;
  -webkit-transition: height 400ms linear;
  transition: height 400ms linear;
  background: #0c0c0c;
}

header {
  height: 100vh;
}

header .intro {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20%;
}

@media (orientation: landscape) {
  header .intro {
    padding-top: 5%;
  }
}

header .intro .introsec {
  margin: 1rem;
}

header h1 {
  color: turquoise;
  font-family: 'Source Sans Pro';
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (min-width: 900px) {
  header h1 {
    font-size: 4rem;
  }
}

header .introHigh {
  color: #f4f4f4;
  width: 300px;
  display: inline-block;
  font-size: 3rem;
}

header p {
  color: #f4f4f4;
  line-height: 1.5rem;
  font-family: 'Source Sans Pro';
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0;
  max-width: 310px;
}

.projects {
  max-width: 900px;
  margin: 0 auto;
}

.projects .hiddenFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.projects .hiddenFlex h2 {
  font-size: 3rem;
  font-family: "Source Sans Pro";
  margin-bottom: -11px;
  color: #d3a5f1;
}

.projects .hiddenFlex div {
  margin-bottom: 0;
}

.projects .hiddenFlex > * {
  max-width: 460px;
  min-width: 320px;
  margin: 0 1rem 2rem 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.projects .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 900px) {
  .projects .flex {
    margin: 0 auto;
    max-width: 900px;
  }
}

.projects .flex > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 320px;
  max-width: 460px;
  min-height: 320px;
  max-height: 460px;
  background-color: transparent;
  margin: 0 1rem 2rem 1rem;
  overflow: hidden;
}

@media (min-width: 900px) {
  .projects .flex > * {
    min-width: 400px;
  }
}

.projects img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  -webkit-transition: -webkit-transform ease-in-out .3s, -webkit-filter ease-in-out 1s;
  transition: -webkit-transform ease-in-out .3s, -webkit-filter ease-in-out 1s;
  transition: transform ease-in-out .3s, filter ease-in-out 1s;
  transition: transform ease-in-out .3s, filter ease-in-out 1s, -webkit-transform ease-in-out .3s, -webkit-filter ease-in-out 1s;
  overflow: hidden;
}

.projects img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.projects .one {
  position: relative;
}

.projects .one h3 {
  position: absolute;
  color: #fff;
  font-size: 3rem;
  top: -4rem;
  z-index: 3;
}

.projects .one h2 {
  position: absolute;
  bottom: 0;
  z-index: 2;
  color: #f4f4f4;
  margin-left: 2rem;
}

.projects .imageOne {
  -webkit-filter: sepia(1);
          filter: sepia(1);
}

.projects .imageOne:hover {
  -webkit-filter: sepia(0);
          filter: sepia(0);
}

.projects .imageTwo {
  -webkit-filter: hue-rotate(270deg);
          filter: hue-rotate(270deg);
}

.projects .imageTwo:hover {
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
}

.projects .imageThree {
  -webkit-filter: hue-rotate(200deg);
          filter: hue-rotate(200deg);
}

.projects .imageThree:hover {
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
}

.projects .imageFour {
  -webkit-filter: hue-rotate(100deg);
          filter: hue-rotate(100deg);
}

.projects .imageFour:hover {
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
}

.projects .imageFive {
  -webkit-filter: hue-rotate(170deg);
          filter: hue-rotate(170deg);
}

.projects .imageFive:hover {
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
}

.one {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  -webkit-transition: opacity ease-in-out 500ms, -webkit-transform 300ms;
  transition: opacity ease-in-out 500ms, -webkit-transform 300ms;
  transition: transform 300ms, opacity ease-in-out 500ms;
  transition: transform 300ms, opacity ease-in-out 500ms, -webkit-transform 300ms;
  opacity: 0;
  overflow-y: hidden;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.fromLeft {
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  opacity: 1;
}

.contact {
  background: #0c0c0c;
  max-width: 1000px;
  margin: 0 auto;
  color: white;
}

.contact .flexC {
  padding-bottom: 3rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .callMe {
  min-width: 320px;
  max-width: 480px;
  margin: 1rem;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.contact .callMe h3 {
  font-size: 2rem;
  position: relative;
  text-align: center;
}

.contact .callMe p {
  line-height: 1.5rem;
  padding: 1rem;
  margin: 0;
}

.contact .callMe:after {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top: 2px solid turquoise;
  border-left: 2px solid turquoise;
}

.contact h2 {
  font-size: 3rem;
  display: block;
  position: absolute;
  color: #f4f4f4;
  font-family: 'Source Sans Pro';
  top: -3.1rem;
  margin: 0 auto -1.5rem auto;
  margin-bottom: -1.5rem;
}

.contact .form {
  min-width: 320px;
  max-width: 480px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact form div + div {
  margin-top: 1rem;
}

.contact form {
  display: block;
  width: 100%;
}

.contact label {
  display: block;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.1rem;
  margin-bottom: -10px;
  margin-left: 2rem;
  padding: 0 1rem 0 1rem;
  background: #0c0c0c;
  z-index: 5;
  position: absolute;
  top: -10px;
}

.contact textarea {
  vertical-align: top;
  border-bottom: 1px solid turquoise;
}

.contact .slideUp {
  position: relative;
}

.contact input, .contact textarea {
  font-family: 'Source Sans Pro';
  width: 100%;
  background: transparent;
  border: 1px solid turquoise;
  border-radius: 2px;
  font-size: 1.1rem;
  color: #fff;
  line-height: 2rem;
}

.contact input {
  border: 1px solid turquoise;
  height: 4rem;
  margin-bottom: 2rem;
}

.contact input:focus, .contact textarea:focus {
  outline: none;
  border: 1px solid #ef2e5d;
}

.contact button {
  width: 10rem;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: transparent;
  border: 1px solid turquoise;
  letter-spacing: .3rem;
  text-transform: uppercase;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  padding-top: 5px;
  padding-bottom: 5px;
}

.contact button:hover {
  cursor: pointer;
  background-color: #ef2e5d;
}

.aboutMe {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.aboutMe .myTitle {
  max-width: 1000px;
  margin: 0 auto 1rem 0;
}

.aboutMe .myTitle h2 {
  color: #d3a5f1;
  margin-left: 1rem;
  font-size: 3rem;
  margin-bottom: -.6rem;
  z-index: 4;
  font-family: 'Source Sans Pro';
  max-width: 480px;
  margin: 0 auto;
}

.aboutMe .hiddenFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutMe .hiddenFlex h2 {
  color: #f4f4f4;
  font-size: 3rem;
  font-family: "Source Sans Pro";
  margin-bottom: -11px;
  color: #d3a5f1;
}

.aboutMe .hiddenFlex div {
  margin-bottom: 0;
}

.aboutMe .hiddenFlex > * {
  max-width: 480px;
  min-width: 320px;
  margin: 0 1rem 2rem 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.aboutMe .flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 900px) {
  .aboutMe .flex2 {
    margin: 0 auto;
    max-width: 1000px;
  }
}

.aboutMe .flex2 > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 320px;
  max-width: 480px;
  min-height: 320px;
  max-height: 480px;
  background-color: transparent;
  margin: 0 1rem 2rem 1rem;
  overflow: hidden;
}

@media (min-width: 900px) {
  .aboutMe .flex2 > * {
    min-width: 400px;
  }
}

.aboutMe img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  -webkit-transition: -webkit-transform ease-in-out .5s, -webkit-filter ease-in-out 1s;
  transition: -webkit-transform ease-in-out .5s, -webkit-filter ease-in-out 1s;
  transition: transform ease-in-out .5s, filter ease-in-out 1s;
  transition: transform ease-in-out .5s, filter ease-in-out 1s, -webkit-transform ease-in-out .5s, -webkit-filter ease-in-out 1s;
  min-width: 100%;
  overflow: hidden;
  padding: 0;
}

.aboutMe img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.aboutMe .talking, .aboutMe .skills {
  color: #b9b3b3;
}

.aboutMe .skills {
  border-top: 1px solid #8048a5;
  position: relative;
  overflow: visible;
  max-height: 650px;
}

.aboutMe .skills .skillTitle {
  color: #d3a5f1;
  font-size: 1.3rem;
}

.aboutMe .skills ul {
  display: block;
  list-style-type: none;
  padding: 1rem;
}

.aboutMe .skills li {
  margin-top: 1rem;
  line-height: 1.5rem;
}

.aboutMe .skills h3 {
  display: block;
  position: absolute;
  left: 2rem;
  top: -2.7rem;
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 3;
  background: #0c0c0c;
  font-family: 'Source Sans Pro';
  color: #f4f4f4;
}

.aboutMe .skills:after {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-right: 1px solid #8048a5;
}

.aboutMe .skills::before {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 1px solid #8048a5;
  border-left: 1px solid #8048a5;
}

.aboutMe .aboutImage {
  -webkit-filter: hue-rotate(250deg);
          filter: hue-rotate(250deg);
  -webkit-transition: ease-in-out all .5s;
  transition: ease-in-out all .5s;
}

.aboutMe .aboutImage:hover {
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
}

.aboutMe .talking {
  position: relative;
  overflow: visible;
  border-top: 1px solid #8048a5;
  max-height: 650px;
}

.aboutMe .talking p {
  padding: 1rem;
  line-height: 1.5rem;
}

.aboutMe .talking p .skillTitle {
  color: #d3a5f1;
  font-size: 1.3rem;
}

.aboutMe .talking .padThis {
  padding-top: 2rem;
  display: block;
}

.aboutMe .talking h3 {
  display: block;
  position: absolute;
  left: 2rem;
  top: -2.7rem;
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 3;
  background: #0c0c0c;
  font-family: 'Source Sans Pro';
  color: #f4f4f4;
}

.aboutMe .talking:after {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-right: 1px solid #8048a5;
}

.aboutMe .talking::before {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 1px solid #8048a5;
  border-left: 1px solid #8048a5;
}
/*# sourceMappingURL=style.css.map */