@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
html,
body {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: #0c0c0c;
  font-family: Arial, Helvetica, 'Source Sans Pro', sans-serif;
}
body {
    height: 200vh;
}

@mixin phone {
    @media (max-width: 599px) {
      @content;
    }
  }
  
  @mixin tabletP {
    @media (min-width: 600px) {
      @content;
    }
  }

  @mixin tabletM {
      @media (min-width: 650px) {
          @content;
      }
  }
  
  @mixin tabletL {
    @media (min-width: 900px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
  
  @mixin desktopL {
    @media (min-width: 1800px) {
      @content;
    }
  }

  $pinkish: #ef2e5d;
  $bluish: #66b0ff;
  $white: white;
  $black: black;
  $ham: #5185e4;

// $f4white: #f4f4f4;
// @mixin center {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
// //////////////////////// NAVIGATION ///////////////////////////////////

// nav {
//   display: flex;
//   flex: 1;
//   margin-left: 10%;
//   margin-right: 10%;
//   justify-content: space-between;
//   align-content: space-between;
//   align-items: center;
//   //border: 1px solid red;
//   height: 4rem;
//   .logo {
//     margin-left: 1rem;
//     font-size: 2rem;
//     text-decoration: none;
//     color: rgb(58, 26, 170);
//     font-weight: bold;
//   }
//   ul {
//     list-style-type: none;
//     display: flex;
//     flex: 1;
//     justify-content: flex-end;
//     height: 100%;
//     li {
//       margin: 0 1rem 0 1rem;
      
//       transition: all 0.7s cubic-bezier(0.07, 0.9, 0.2, 0.9) 0s;
//       //padding-top: 12px;
     
      
//       a {
//         display: block;
//         padding-top: 12px;
//         text-decoration: none;
//         height: 100%;
//         color: #f4f4f4;
//         text-transform: uppercase;
//         font-weight: bold;
        
//       }
//       a:after {
//         content: '';
//         top: 0;
//         left: 0;
//         display: inline-block;
//         width: 0;
//         height: 2px;
//         background: #2b1ac7;
//         transition: .3s;
//         border-radius: 5px;
//     }

      
//     }

//     li:hover {
        
  
//         a:after {
//             width: 100%;
//         }
//     }
   
//   }
// }

header {
    position: relative;
    height: 100vh;
}

.navShow {
    
    
    pointer-events: all;
    font-size: 1rem;
    transition: height .4s linear;
    pointer-events: all;
    opacity: 1;
    transition: all ease-in-out 1s;
    transition: height 700ms linear;
    height: 50px;
    //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    
}

.navHeight {
    height: 100vh;
}
.ulShow {
    height: auto;
    opacity: 1;
    transition: all ease-in-out 400ms;
    padding-top: 8rem;
}
.navShow {
    
    
    pointer-events: all;
    font-size: 1rem;
    transition: height .4s linear;
    pointer-events: all;
    opacity: 1;
    transition: all ease-in-out 1s;
    transition: height 700ms linear;
    height: 50px;
    //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    
}

.navHeight {
    height: 200vh;
}
.ulShow {
    height: auto;
    opacity: 1;
    transition: all ease-in-out 400ms;
    padding-top: 7rem;
}


nav {
    opacity: 1;
    //pointer-events: none;
    height: 4rem;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    //background: rgba(255, 255, 255, .9);
    //background: #0c0c0c;
    background: transparent;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    transition: all ease-in-out 1s;
    transition: height .4s linear;


    @include tabletL {
        
    }

    

    .logo {
        width: 50px;
        height: 50px;
        
        margin-left: 5%;
        color: #f4f4f4;
        font-weight: bold;
        padding-top: 10px;
        font-size: 2rem;
        vertical-align: center;
        background: turquoise;
    }


    .ham {
        display: inline-block;
        margin-right: 5%;
        margin-top: 8px;
        width: 50px;
        height: 50px;

        @include tabletL {
            display: none;
        }
        
    }

    .mIcon,
    .mIcon:after,
    .mIcon:before {
        height: 5px;
        width: 100%;
        border-radius: 1px;

    }

    .mIcon {
        position: relative;
        transform: translateY(20px);
        background: $ham;
        transition: all 0ms 300ms;

        &.animate {
            background: rgba(255, 255, 255, 0);
        }
    }

    .mIcon:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 15px;
        background: $ham;
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);

    }

    .mIcon:after {
        content: "";
        position: absolute;
        left: 0;
        top: 15px;
        background: $ham;
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);

    }

    .mIcon.animate:after {
        top: 0;
        transform: rotate(45deg);
        background: $pinkish;
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }

    .mIcon.animate:before {
        bottom: 0;
        transform: rotate(-45deg);
        background: $pinkish;
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
    ul {
        list-style-type: none;
        color: white;
        display: inline-block;
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
        //width: 600px;
        height: 0;
        opacity: 0;
        transition: all ease-in-out 400ms;


        @include tabletL {
            display: inline-block;
           // margin-left: 40%;
            //padding-top: 1rem;
            //padding-bottom: 1rem;
            height: auto;
            opacity: 1;
            margin-right: 5%;
        }
       
        
    }

   

    li {
        display: block;
       position: relative;
        overflow-x: hidden;
        //height: 100%;
        //padding-bottom: 2rem;
        font-size: 1.3rem;
        color: #ef2e5d;
        // :nth-child(odd) {
        //     transform: translateX(-200px);
        // }
        

        @include tabletL {
            display: inline-block;
            
            padding-bottom: 0;
            //padding-right: 1rem;
            margin-left: 3rem;
            font-size: 1.3rem;
        }

       



        a {
            //display: flex;
            //flex: 1;
            //flex-direction: column;
            display: inline-block;
            padding: 20px;
            justify-content: center;
            text-decoration: none;
            color: #f4f4f4;
            //color: inherit;
            transition: color ease-in-out 400ms;
            position: relative;
            height: 100%; 
            white-space: nowrap;
            background-color: transparent;
            font-family: 'Source Sans Pro';
            font-weight: bold;
            &:hover {
                &:after {
                    width: 100%;
                }
                
            }
    
            &:after {
                content: attr(data-hover);
                display: block;
                position: absolute;
                //color: #66b0ff;
                color: turquoise;
                top: 20px;
                left: 20px;
                overflow: hidden;
                width: 0;
                height: 23px;
                white-space: nowrap;
                transition: all .5s cubic-bezier(.66,.19,.19,1);
            }

            &:hover {
                &:before {
                    opacity: 1;
                    width: calc(100% - 40px)
                }
               
            }
    
            &:before {
                content: '';
                display: block;
                position: absolute;
                //position: relative;
                right: 0;
                left: 20px;
                bottom: 13px;
                width: 0;
                height: 2px;
                opacity: 0;
                //background-color: #66b0ff;
                background-color: turquoise;
                //transform: translateX(500px);
                transition: all .6s cubic-bezier(.66,.19,.19,1);
            }

        }

       

        // a:hover {
        //     color: $bluish;
        //     transition: color 400ms ease-in-out;
        // }


        
    }
}

nav.expand {
    height: 100vh;
    transition: height 400ms linear;
    background: #0c0c0c;
}



header {

    .intro {
        max-width: 320px;
        margin: 0 auto;
        margin-top: 40%;

        @include tabletL {
            margin-left: 10%;
            margin-top: 20%;
            max-width: 400px;
        }
    }

    h1 {
        color: turquoise;
        font-family: 'Source Sans Pro';
        font-size: 3rem;
        margin-bottom: 1rem;
        @include tabletL {
            font-size: 4rem;
        }
    }

    .introHigh {
        color: #f4f4f4;
        //text-align: center;
        width: 300px;
        display: inline-block;
        font-size: 3rem;
       

        @include tabletL {
            //text-align: center;
        }
    }

    p {
        color: #f4f4f4;
        line-height: 1.5rem;
        font-family: 'Source Sans Pro';
        font-size: 1.1rem;
        font-weight: 400;
        margin-top: 0;
    }
}


/////////////////////////////////// PROJECTS //////////////////////////////
.projects {
    height: 200vh;
    


    .flex {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;

        @include tabletL {
            margin: 0 auto;
            max-width: 900px;
        }
    }

    .flex > * {
        display: flex;
        flex: 1;
        min-width: 320px;
        max-width: 460px;
        min-height: 320px;
        max-height: 460px;
        background-color: #f4f4f4;
        //border: 1px solid red;
        margin: 0 1rem 2rem 1rem;
        overflow: hidden;

        @include tabletL {
            min-width: 400px;
        }
    }

    img {
        object-fit: contain;
        max-width: 100%;
        transition: transform ease-in-out .3s, filter ease-in-out 1s;
        
        overflow: hidden;
        //filter: sepia(1);
    }

    img:hover {
        transform: scale(1.05);
        //filter: sepia(0);
    }

    .one {
        position: relative;

        h2 {
            position: absolute;
            bottom: 0;
            z-index: 2;
            color: #f4f4f4;
            margin-left: 2rem;
        }
    }

    .imageOne {
        filter: sepia(1);
    }

    .imageOne:hover {
        filter: sepia(0);
    }

    .imageTwo {
        filter: hue-rotate(270deg);

        &:hover {
            filter: hue-rotate(0deg);
        }
    }

    .imageThree {
        filter: hue-rotate(200deg);

        &:hover {
            filter: hue-rotate(0deg);
        }
    }

    .imageFour {
        filter: hue-rotate(100deg);

        &:hover {
            filter: hue-rotate(0deg);
        }
    }

    .imageFive {
        filter: hue-rotate(170deg);

        &:hover {
            filter: hue-rotate(0deg);
        }
    }

    // .one:before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     height: 100%;
    //     width: 100%;
    //     background-color: rgba(223, 161, 161, 0.19);
    // }

    // .one:before:hover ~ img:hover {
    //     transform: scale(1.1);
    // }
}

.pro {
    max-width: 900px;
    margin: 0 auto;

    h2 {
        color: #fc2232;
        margin-left: 1rem;
        font-size: 3rem;
        margin-bottom: -.6rem;
        z-index: 4;
        font-family: 'Source Sans Pro';
    }
}

/////////// ANIMATIONS ///////////////

///// LEFT ///////